# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eng.traineddata
# Environment
.env

# Build output (if you compile)
dist/
build/

# IDE/editor files
.DS_Store
.vscode/
.idea/
